/* Color Theme Swatches in Hex */
/*vexRed { color: red; }*/
/*vexBlack{ color: #1F2226; }*/
/*vexWhite { color: whitesmoke}*/

body {
    background-color: #1F2226;
}

h1, h2 {
    color: #D9282F;
    text-align: center;
    font-family: "Oxanium", Arial, sans-serif;
}

h3 {
    color: #D9282F;
    font-family: "Oxanium", Arial, sans-serif;
}


img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 150px;
    width: auto;
}

form {
    color: whitesmoke;
    font-size: 18px;
    font-family: "Open Sans", Arial, sans-serif;
    text-align: center;
}

p {
  color: whitesmoke;
    font-family: "Open Sans", Arial, sans-serif;
}

input[type=number], input[type=text], select {
    margin-top: 1%;
    font-family: "Open Sans", Arial, sans-serif;
    border-radius: 18px;
}

input[type=number] {
    width: 50px;
}

.mainStuff {
    text-align: center;
}

.scoreUs {
    font-size: 50px;
    font-family: "Oxanium", Arial, sans-serif;
    color: #D6252F;
    display: inline;
}

.scoreThem {
    font-size: 50px;
    font-family: "Oxanium", Arial, sans-serif;
    color: #0775C8;
    display: inline;
}

.big {
    font-size: 30px;
}

.big.width {
    width: 90%;
}

add.big, input[type=number].big{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.us {
    text-align: center;
}

.them {
    text-align: center;
}

.button, #clearStrategies {
    background-color: #D9282F;
    font-size: 24px;
    padding: 14px 40px;
    color: whitesmoke;
    border: 2px solid #D9282F;
    margin: 2% 2%;
    font-family: "Oxanium", Arial, sans-serif;
    text-align: center;
    border-radius: 38px;
}

.button.add {
    padding: 0 0;
    height: 75px;
    width: 75px;
    font-size: 50px;
    text-align: center;

}

.button.add.big {
    padding: 0 0;
    height: 100px;
    width: 100px;
    font-size: 69px;
    font-size: 69px;
    font-weight: bold;

}

.submit {
text-align: center;
}

.buttonGroup {

    display: block;
    text-align:center;
}

.tabs {
    text-align: center;
}

.material-icons {
    color: #D9282F;
    font-size: 48px;
    padding-left: 25px;
    padding-right: 25px;
}

.material-icons.current {
    color: #8C0303;
}

.comments {
    width: 50%;
}

.cube, .tower {
    width: 200px;
    height: auto;
}

.row {
    display: flex;
}

.column {
    flex: 33%;
    padding: 5px;
}

.buttonColumn {
    flex: 16%;
    padding: 5px;
}

.column two{
    flex: 50%;
    padding: 5px;
}

.nine{
    flex: 11%;
    padding: 5px;
}


.row.red {
    background-color: #D6252F;
    border-radius: 38px;
}

.row.blue {
    background-color: #0676C8;
    border-radius: 38px;
}

.greenButton {
    background-color: #089134;
    border-color: #089134;
}

.purpleButton {
    background-color: #5F289C;
    border-color: #5F289C;
}

.orangeButton {
    background-color: #FF6510;
    border-color: #FF6510;
}

#home {
    position: absolute;
    top: 20px;
    right: 20px;
}

#switcher {
    font-size: 100px;
}

#robot {
    color: aliceblue;
    position: absolute;
    top: 20px;
    left: 20px;
}

#strategies {
    color: whitesmoke;
    font-family: "Open Sans", Arial, sans-serif;
}

.math {
    width: 50%;
    height: auto;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.strategies {
    font-size: 30px;
}